<!DOCTYPE html>
<html>
<head>
	<title>index</title>
	<link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
	{{>header}}
	<h2>{{title}}</h2>
	<section class="container">
		<div class="form-body" >
			<form>
				<div class="grid2">
					<label> Product Name: </label>
					<input type="text" name="" placeholder="Product name">
				</div>

				<div class="grid2">
					<label>Product Description</label>
					<input type="text" name="" placeholder="Product description">
				</div>

				<div class="grid2">
					<label>Cost Price: </label>
					<input type="" name="" placeholder="Cost price">
				</div>

				<div class="grid2">
					<label>Selling Price: </label>
					<input type="" name="" placeholder="Selling Price">
				</div>

				<div class="grid3">
					<label>Quantity: </label>
					<select>
						<option>satchet</option>
						<option>packets</option>
						<option>carton</option>
					</select>
					<input type="number" name="" value="0">
				</div>

				<div class="grid1">
					<button>Add</button>
				</div>
		
			</form>
			
		</div>

	</section>
	{{>footer}}

</body>
</html>