<!DOCTYPE html>
<html>
<head>
	<title>index</title>
	<link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
	{{>header}}
	<h2>{{title}}</h2>
	<section class="container">
		<div class="form-body" >
			<form class="grid2">
				<label>Username: </label>
				<input type="text" name="" required>

				<label>Password: </label>
				<input type="password" name="" required><br>

				<button>Login</button>
			</form>
			
		</div>

	</section>
	{{>footer}}

</body>
</html>