<!DOCTYPE html>
<html>
<head>
	<title>options</title>
	<link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
	{{>header}}
	<h2>{{title}}</h2>
	<ul class="container">
		<li><a href="/make_purchase">make a purchase</a></li>
		<li><a href="#">remove puchase</a></li>
		<li><a href="/add_new">Add New Item</a></li>
		<li><a href="#">Edit Inventory</a></li>
		<li><a href="#">Delete Inventory</a></li>
		<li><a href="#">make an order</a></li>
		<li><a href="#">make an order</a></li>
	</ul>
	{{>footer}}

</body>
</html>