	<header>
		<h1>INVENTORY SYSTEM</h1>
		<p> 
			<a href="/" >HOME</a>
			<a href="/options" >OPTIONS</a>
			<a href="#" >ABOUT</a>
			<a href="#" >CONTACT</a>
			<a href="#" >PRODUCTS</a>
		</p>
	</header>